h1 {
  font-weight: bold;
}

.background {
  font-family: serif;
}

.about-me {
  float: left;
  font-size: 135%;
}

.projects {
  font-size: 135%;
}

.interests {
  font-size: 140%;
}

.cities {
  font-weight: bold;
}

.medfnt {
  font-size: 110%
}
