h1 {
  font-weight: bold;
}

body {
  font-family: serif;
  background-image: url(../img/wallpaper.jpg);
  background-color: #ffffe6;
}

.jumbotron {
  opacity: .85;
}

.pizza {
  width: 24%;
  float: right;
  transform: rotate(90deg);
  margin-top: -3%;
}

.interests {
  padding: 10px;
  margin-left: 15px;
  font-size: 140%;
  opacity: .80;
}

.medfnt {
  font-size: 110%
}

.about-me {
  float: right;
  padding: 10px;
  margin-right: 15px;
  font-size: 135%;
  opacity: .80;
}

.projects {
  padding: 10px;
  font-size: 135%;
  opacity: .80;
}

.cities {
  font-weight: bold;
}

.marg {
  display: block;
  margin: auto;
}

.opaque {
  opacity: .8
}

.back {
  background-color: white;
  opacity: .75;
  padding: 5px;
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
}

#picmarg {
  margin-top: 10px;
  margin-bottom: 10px;
}
